/*algemene styling*/
* {
  padding: 0px;
  margin: 0px;
  color: #f9f2f2;
  font-family: "JetBrains Mono", monospace;
  font-size: 40px;
}
body {
  background-color: #596475;
}
.background1 {
  background-image: url(../img/image9.png);
  opacity: 0.1;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -9;
}
.background2 {
  background-image: url(../img/image5.png);
  opacity: 0.1;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -9;
}
.background3 {
  background-image: url(../img/image3.png);
  opacity: 0.1;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -9;
}
header {
  width: 100vw;
  height: 95px;
  background-color: #373849;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
}
nav img {
  height: 94px;
  width: 125px;
}
a {
  text-decoration: none;
}
/* styling eerste pagina: landingspagina*/
.ditbenik {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  margin-bottom: 60px;
}
.ditbenik h1 {
  opacity: 100;
}
/* nog meer algemene styling*/
ul {
  display: flex;
  flex-direction: row;
}
li {
  font-size: 35px;
  margin-bottom: 20px;
  opacity: 100;
}
b {
  font-size: 20px;
}
/* verdere styling van landingspagina*/
.blockmeerweten {
  width: 350px;
  height: 100px;
  background-color: #373849;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul .tekststuk {
  display: flex;
  flex-direction: column;
}
/* hier wordt de footer gestyled*/
footer {
  width: 100vw;
  height: 115px;
  background-color: #373849;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
/* hier wordt de tweede pagina gestyled: dit ben ik*/
.blockssection {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  margin-top: 100px;
}
#rijfirst {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
#stylingblocks {
  align-items: center;
}
.blockssection h1 {
  color: black;
  font-size: 30px;
}
#rondeimage {
  border-radius: 200px;
}
p {
  color: black;
  font-size: 20px;
}
.blocksecondpage {
  width: 700px;
  height: 250px;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}
.blockcontact {
  width: 130px;
  height: 45px;
  background-color: #d9d9d9;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.contact2 {
  margin-bottom: 35px;
}
.contact2 a {
  color: black;
  font-size: 30px;
}
/* hier wordt de derde pagina gestyled */
.projectrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 54px;
  gap: 100px;
}
.projectrow a {
  font-size: 30px;
  color: black;
}
.projectblock {
  width: 391px;
  height: 334px;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projectblock h1 {
  color: black;
  font-size: 20px;
}
#derdeelement {
  gap: 100px;
}
/* hier wordt de vierde pagina gestyled contact*/
.contactrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 200px;
  margin-top: 88px;
  margin-bottom: 50px;
}
.boxinput input {
  color: black;
  border-color: black;
  border-radius: 10px;
}
.mailtelefoon {
  flex-direction: row;
  gap: 20px;
}
.verstuurbox {
  height: 50px;
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #373849;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 10px;
}
/* hier worden alle projectpagina's gestyled*/
.contactinformatie {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.headings ul {
  gap: 500px;
  margin-top: 10px;
}
.projectshead {
  height: 86px;
  width: 237px;
  background-color: #373849;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.projectshead h1 {
  font-size: 30px;
}
.projectsmain {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.textprojectsblock {
  height: 364px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 756px;
  background-color: #373849;
  border-radius: 10px;
}
.textprojectsblock p {
  font-size: 18px;
  color: white;
  padding: 10px;
}
.githubblock {
  height: 71px;
  border-radius: 10px;
  width: 279px;
  background-color: #373849;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
